@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #fdfbff;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(180, 126, 151);
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
}
.header{
    position: relative;
    min-height: 60vh;
    background: url('../images/f3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_btn{
    text-decoration: none;
    border-color: rgb(180, 126, 151);
    background-color: rgb(180, 126, 151);
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
}
.header_btn:hover{
    color: white;
    background-color: purple;
    /* border-color: rgb(55, 209, 55); */
    text-decoration: none;
}
.name{
    background-color: rgb(92, 207, 200);
    height: 45px;
    padding: 10px 0px;
    font-weight: bold;
    /* text-decoration: none; */
}
.navbar{
    min-height: 8vh;
    float: right;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.nav-items{
    width: 100%;
    float: right;
    list-style-type: none;
    justify-content: space-between;
}
li{
    display: inline-block;
    padding-right: 60px;
}
.headline{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
}
.card{
    width: 25%;
    height: 30%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    padding-bottom: 2px;
    background-color: rgb(227, 224, 224);
}
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.title{
    text-align: center;
    padding: 10px;
}
.heading_title{
    size: 20px;
}
.arrange{
    margin-top: 2%;
    margin-left: 8%;
    margin-bottom: 2%;
    align-items: center;
}
.card_btn{
    background-color: grey;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 20px;
}
.footer{
    background-color: rgb(92, 207, 200) ;
    padding-left: 12px;
}
.footer .box-container{
    display: inline-block;
}