@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
    background: #F8A434;
    font-family: 'Lato', sans-serif;
    color: #FDFCFB;
    box-sizing: border-box;
    text-align: center;
    /* height: 65vh; */
}
.box{
  left: 50%;
  top:50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
form {
  width: 550px;
    /* margin: 17% auto; */
}
.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.desc {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}
.input {
  align-items: center;
  /* height: 5px; */
}
.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 65%;
  height: 70%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px;
}
#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /* transition: background .3s ease-in-out; */
}
#submit:hover {
  background: #d45d7d;
}
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}